{% extends "base.html" %}
{% block html_head %}
<!--[if lt IE 10]>
<script src="static/js/ie-low-version-warning.js"></script>
<![endif]-->
{% end %}
{% block title %}天凤记录站{% end %}
{% block body %}
<div class="container">
  <div class="span12">{% module title(title='天凤记录站', subtitle='记录你的游戏轨迹') %}</div>
  <div class="jumbotron">
    <h1>这是标题</h1>
    <p>这里应该写一些关于这个网站的简介。</p>
    <p>这里应该写一些关于这个网站的简介。</p>
    <p>这里应该写一些关于这个网站的简介。</p>
    <p>这里应该写一些关于这个网站的简介。</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/login" role="button"><span class="glyphicon glyphicon-user">登陆</span></a>
      <a class="btn btn-lg btn-primary" href="/register" role="button"><span class="glyphicon glyphicon-registration-mark">注册</span></a>
    </p>
  </div>
</div>
{% end %}
