{% extends "base.html" %}
{% block html_head %}
<link href="/static/css/login.css" rel="stylesheet">
{% end %}
{% block title %}登陆{% end %}
{% block header %}
<div class="container">
  <div class="span12">{% module title(title='Tenhou Logger', subtitle='your records show') %}</div>
</div>
{% end %}
{% block body %}
<div class="container">
  <form class="form-login" role="form" action="/login" method="post">
    <h2 class="form-login-heading">登陆</h2>
    <input type="text" name="username" class="form-control" placeholder="昵称" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="密码" required>
    {% module verification() %}
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" name="remember-me"> 记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      登陆
    </button>
  </form>
</div>
{% end %}
